<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ExtraerDatosHidrosinaEntities" connectionString="metadata=res://*/Model.ExtraerDatosHidrosina.csdl|res://*/Model.ExtraerDatosHidrosina.ssdl|res://*/Model.ExtraerDatosHidrosina.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CMANUEL\SQLEXPRESS;initial catalog=ExtraerDatosHidrosina;persist security info=True;user id=Cristian;password=esAdmIN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExtraerDatosHidrosina" connectionString="Data Source=CMANUEL\SQLEXPRESS;Initial Catalog=ExtraerDatosHidrosina;Persist Security Info=True;User ID=Cristian;Password=esAdmIN" />
  </connectionStrings>
</configuration>